@import "../sassFiles";

.navbar-container {
  .list-items {
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: $OswaldFont;
    font-size: 24px;
    background-color: $yellowColor;
    list-style: none;
    z-index: 25;
    transition: opacity 0.4s ease-in-out;
    @media (max-width: 991.98px) {
      display: flex;
      top: 76px;
      right: 100%;
      opacity: 0;
      flex-direction: column;
      width: 100%;
    }
    .item {
      display: inline-block;
      a {
        text-decoration: none;
        text-align: center;
        color: $whiteColor;
        padding: 10px 18px;
        display: block;
        transition: all 0.5s ease;
        @media (max-width: 991.98px) {
          padding: 20px 0px;
        }
        &:hover {
          color: $mainColor;
          background-color: $whiteColor;
        }
      }
    }
  }
  .list-items.active {
    @media (max-width: 991.98px) {
      display: flex;
      right: 0px;
      opacity: 1;
    }
  }

  .icon-nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    display: none;
    z-index: 24;
    transition: background 0.4s ease-in-out;
    @media (max-width: 991.98px) {
      display: block;
    }
    i {
      display: block;
      padding: 20px;
      font-size: 36px;
      color: $whiteColor;
      position: absolute;
      right: 0px;
      z-index: 30;
    }
  }
  .icon-nav.active {
    @media (max-width: 991.98px) {
      background-color: $thirdColor;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}
