// variables

$mainColor: #2b2c2c;
$secondColor: #2d2e2e;
$thirdColor: #3f4040;
$yellowColor: #ffcc00;
$redColor: #fa1800;
$blueSecondColor: #10182f;
$blueColor: #3e67f0;
$blueThirdColor: #2f55d1;
$amaranthColor: #f43b86;
$purpleColor: #bfa2db;
$greenColor: #2d9099;
$greenSecondColor: #195b61;
$greenThirdColor: #267a81;
$textColor: #a4a5a6;
$whiteColor: #fff;
$secondWhite: #fdfdfd;
$Black: #000000;
$secondbgColor: #e8eaed;
$thirdgbColor: #f6f8fc;
$LatoFont: "Lato", sans-serif;
$OswaldFont: "Oswald", sans-serif;
